version: "3.9"

services:
  leveling_automation:
    build: .
    container_name: leveling_automation
    env_file:
      - .env
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
